:root.theme-light {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-font-color: #353430;
  --hover-border-color: rgba(50 49 45/ 0.4);
}

@media (prefers-color-scheme: light) {
  
  :root.theme-auto {

    --bg-color: #000028;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-font-color: #353430;
    --hover-border-color: rgba(50 49 45/ 0.4);
  }

  .theme-auto .header__decorative-inscription {
    display: none;
  }

  .theme-auto .header__theme-menu-button {
    color: var(--main-font-color, #353430);
  }

  .theme-auto .header__theme-menu-button_active {
    border: 1px var(--main-font-color, #353430) solid;
  }

  .theme-auto .header__theme-menu-button:hover {
    border: 1px var(--main-font-color, #353430) solid;
  }

  .theme-auto .decorated-zone::before {
    border-inline-end: 1px var(--main-font-color, #353430) solid;
    border-block-start: 1px var(--main-font-color, #353430) solid;
  }

  .theme-auto .decorated-zone::after {
    border-block-end: 1px var(--main-font-color, #353430) solid;
    border-inline-start: 1px var(--main-font-color, #353430) solid;
  }

  .theme-auto .content__section-title {
    color: var(--main-font-color, #353430);
  }
}

.theme-light .decorated-zone::before {
  border-inline-end: 1px var(--main-font-color, #353430) solid;
  border-block-start: 1px var(--main-font-color, #353430) solid;
}

.theme-light .decorated-zone::after {
  border-block-end: 1px var(--main-font-color, #353430) solid;
  border-inline-start: 1px var(--main-font-color, #353430) solid;
}

.theme-light .header__theme-menu-button {
  color: var(--main-font-color, #353430);
}

.theme-light .header__theme-menu-button_active {
  border: 1px var(--main-font-color, #353430) solid;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px var(--main-font-color, #353430) solid;
}

.theme-light .content__section-title {
  color: var(--main-font-color, #353430);
}

.theme-light .header__decorative-inscription {
  display: none;
}
