/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-padding-mobile: 10px;
  --page-padding-dekstop: 20px;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-dekstop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-font: "IBM Plex mono";
}
